In [153]:
import pandas as pd
import numpy as np

In [154]:
df=pd.read_csv("anime.csv")

In [155]:
df.head()

,MAL_ID,Name,Score,Genres,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,...,229170.0,182126.0,131625.0,62330.0,20688.0,8904.0,3184.0,1357.0,741.0,1580.0
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,Movie,1,"Sep 1, 2001",Unknown,...,30043.0,49201.0,49505.0,22632.0,5805.0,1877.0,577.0,221.0,109.0,379.0
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Trigun,トライガン,TV,26,"Apr 1, 1998 to Sep 30, 1998",Spring 1998,...,50229.0,75651.0,86142.0,49432.0,15376.0,5838.0,1965.0,664.0,316.0,533.0
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),TV,26,"Jul 2, 2002 to Dec 24, 2002",Summer 2002,...,2182.0,4806.0,10128.0,11618.0,5709.0,2920.0,1083.0,353.0,164.0,131.0
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",Beet the Vandel Buster,冒険王ビィト,TV,52,"Sep 30, 2004 to Sep 29, 2005",Fall 2004,...,312.0,529.0,1242.0,1713.0,1068.0,634.0,265.0,83.0,50.0,27.0

In [156]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17562 entries, 0 to 17561
Data columns (total 35 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MAL_ID         17562 non-null  int64
 1   Name           17562 non-null  object
 2   Score          17562 non-null  object
 3   Genres         17562 non-null  object
 4   English name   17562 non-null  object
 5   Japanese name  17562 non-null  object
 6   Type           17562 non-null  object
 7   Episodes       17562 non-null  object
 8   Aired          17562 non-null  object
 9   Premiered      17562 non-null  object
 10  Producers      17562 non-null  object
 11  Licensors      17562 non-null  object
 12  Studios        17562 non-null  object
 13  Source         17562 non-null  object
 14  Duration       17562 non-null  object
 15  Rating         17562 non-null  object
 16  Ranked         17562 non-null  object
 17  Popularity     17562 non-null  int64
 18  Members        17562 non-null  int64
 19  Favorites      17562 non-null  int64
 20  Watching       17562 non-null  int64
 21  Completed      17562 non-null  int64
 22  On-Hold        17562 non-null  int64
 23  Dropped        17562 non-null  int64
 24  Plan to Watch  17562 non-null  int64
 25  Score-10       17562 non-null  object
 26  Score-9        17562 non-null  object
 27  Score-8        17562 non-null  object
 28  Score-7        17562 non-null  object
 29  Score-6        17562 non-null  object
 30  Score-5        17562 non-null  object
 31  Score-4        17562 non-null  object
 32  Score-3        17562 non-null  object
 33  Score-2        17562 non-null  object
 34  Score-1        17562 non-null  object
dtypes: int64(9), object(26)
memory usage: 4.7+ MB

In [157]:
df.duplicated().sum()

np.int64(0)

In [158]:
df.columns

Index(['MAL_ID', 'Name', 'Score', 'Genres', 'English name', 'Japanese name',
       'Type', 'Episodes', 'Aired', 'Premiered', 'Producers', 'Licensors',
       'Studios', 'Source', 'Duration', 'Rating', 'Ranked', 'Popularity',
       'Members', 'Favorites', 'Watching', 'Completed', 'On-Hold', 'Dropped',
       'Plan to Watch', 'Score-10', 'Score-9', 'Score-8', 'Score-7', 'Score-6',
       'Score-5', 'Score-4', 'Score-3', 'Score-2', 'Score-1'],
      dtype='object')

In [159]:
df.drop(columns=['Score','Japanese name','Episodes','Premiered', 'Score-10', 'Score-9', 'Score-8', 'Score-7', 'Score-6','Score-5', 'Score-4', 'Score-3', 'Score-2', 'Score-1'], inplace=True)
df.head()

,MAL_ID,Name,Genres,English name,Type,Aired,Producers,Licensors,Studios,Source,...,Rating,Ranked,Popularity,Members,Favorites,Watching,Completed,On-Hold,Dropped,Plan to Watch
0,1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,TV,"Apr 3, 1998 to Apr 24, 1999",Bandai Visual,"Funimation, Bandai Entertainment",Sunrise,Original,...,R - 17+ (violence & profanity),28.0,39,1251960,61971,105808,718161,71513,26678,329800
1,5,Cowboy Bebop: Tengoku no Tobira,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,Movie,"Sep 1, 2001","Sunrise, Bandai Visual",Sony Pictures Entertainment,Bones,Original,...,R - 17+ (violence & profanity),159.0,518,273145,1174,4143,208333,1935,770,57964
2,6,Trigun,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Trigun,TV,"Apr 1, 1998 to Sep 30, 1998",Victor Entertainment,"Funimation, Geneon Entertainment USA",Madhouse,Manga,...,PG-13 - Teens 13 or older,266.0,201,558913,12944,29113,343492,25465,13925,146918
3,7,Witch Hunter Robin,"Action, Mystery, Police, Supernatural, Drama, ...",Witch Hunter Robin,TV,"Jul 2, 2002 to Dec 24, 2002","TV Tokyo, Bandai Visual, Dentsu, Victor Entert...","Funimation, Bandai Entertainment",Sunrise,Original,...,PG-13 - Teens 13 or older,2481.0,1467,94683,587,4300,46165,5121,5378,33719
4,8,Bouken Ou Beet,"Adventure, Fantasy, Shounen, Supernatural",Beet the Vandel Buster,TV,"Sep 30, 2004 to Sep 29, 2005","TV Tokyo, Dentsu",Unknown,Toei Animation,Manga,...,PG - Children,3710.0,4369,13224,18,642,7314,766,1108,3394

In [160]:
df.drop(columns=[ 'Producers', 'Licensors','Studios','Duration', 'Rating', 'Ranked', 'Popularity','Members', 'Favorites', 'Watching', 'Completed', 'On-Hold', 'Dropped','Plan to Watch'],inplace=True)

In [161]:
df.head()

,MAL_ID,Name,Genres,English name,Type,Aired,Source
0,1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,TV,"Apr 3, 1998 to Apr 24, 1999",Original
1,5,Cowboy Bebop: Tengoku no Tobira,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,Movie,"Sep 1, 2001",Original
2,6,Trigun,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Trigun,TV,"Apr 1, 1998 to Sep 30, 1998",Manga
3,7,Witch Hunter Robin,"Action, Mystery, Police, Supernatural, Drama, ...",Witch Hunter Robin,TV,"Jul 2, 2002 to Dec 24, 2002",Original
4,8,Bouken Ou Beet,"Adventure, Fantasy, Shounen, Supernatural",Beet the Vandel Buster,TV,"Sep 30, 2004 to Sep 29, 2005",Manga

In [162]:
df.describe()

             MAL_ID
count  17562.000000
mean   21477.192347
std    14900.093170
min        1.000000
25%     5953.500000
50%    22820.000000
75%    35624.750000
max    48492.000000

In [163]:
df.drop(columns=["English name","Aired"], inplace=True)
df.head()

,MAL_ID,Name,Genres,Type,Source
0,1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,Original
1,5,Cowboy Bebop: Tengoku no Tobira,"Action, Drama, Mystery, Sci-Fi, Space",Movie,Original
2,6,Trigun,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",TV,Manga
3,7,Witch Hunter Robin,"Action, Mystery, Police, Supernatural, Drama, ...",TV,Original
4,8,Bouken Ou Beet,"Adventure, Fantasy, Shounen, Supernatural",TV,Manga

In [164]:
df["tags"] = df["Type"] + " " + df["Source"]
df.head()

,MAL_ID,Name,Genres,Type,Source,tags
0,1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,Original,TV Original
1,5,Cowboy Bebop: Tengoku no Tobira,"Action, Drama, Mystery, Sci-Fi, Space",Movie,Original,Movie Original
2,6,Trigun,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",TV,Manga,TV Manga
3,7,Witch Hunter Robin,"Action, Mystery, Police, Supernatural, Drama, ...",TV,Original,TV Original
4,8,Bouken Ou Beet,"Adventure, Fantasy, Shounen, Supernatural",TV,Manga,TV Manga

In [165]:
df.drop(columns=["Type","Source"],inplace=True)

In [166]:
df.head(10)

,MAL_ID,Name,Genres,tags
0,1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV Original
1,5,Cowboy Bebop: Tengoku no Tobira,"Action, Drama, Mystery, Sci-Fi, Space",Movie Original
2,6,Trigun,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",TV Manga
3,7,Witch Hunter Robin,"Action, Mystery, Police, Supernatural, Drama, ...",TV Original
4,8,Bouken Ou Beet,"Adventure, Fantasy, Shounen, Supernatural",TV Manga
5,15,Eyeshield 21,"Action, Sports, Comedy, Shounen",TV Manga
6,16,Hachimitsu to Clover,"Comedy, Drama, Josei, Romance, Slice of Life",TV Manga
7,17,Hungry Heart: Wild Striker,"Slice of Life, Comedy, Sports, Shounen",TV Manga
8,18,Initial D Fourth Stage,"Action, Cars, Sports, Drama, Seinen",TV Manga
9,19,Monster,"Drama, Horror, Mystery, Police, Psychological,...",TV Manga

In [167]:
df['Name'] = df['Name'].str.replace(r'\:.*?\\', '', regex=True)

In [168]:
df['features'] = df['Genres'].fillna('') + ' ' + df['tags'].fillna('')

In [169]:
df['features']

0        Action, Adventure, Comedy, Drama, Sci-Fi, Spac...
1        Action, Drama, Mystery, Sci-Fi, Space Movie Or...
2        Action, Sci-Fi, Adventure, Comedy, Drama, Shou...
3        Action, Mystery, Police, Supernatural, Drama, ...
4        Adventure, Fantasy, Shounen, Supernatural TV M...
                               ...
17557           Adventure, Mystery, Supernatural ONA Novel
17558                Comedy, Horror, Supernatural TV Manga
17559    Mystery, Dementia, Horror, Psychological, Supe...
17560            Adventure, Slice of Life, Comedy TV Manga
17561                              Action, Fantasy TV Game
Name: features, Length: 17562, dtype: object

In [170]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [171]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df['features'])

In [172]:
from sklearn.metrics.pairwise import linear_kernel

In [173]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [174]:
# create recommendation function
index = pd.Series(df.index, index=df['Name'].astype(str).str.lower())

def recommend_anime(title, top_n=10):
    title = title.lower()
    if title not in index:
        return "Anime not found."
    
    idx = index[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:top_n+1]
    
    anime_indices = [i[0] for i in sim_scores]
    return df['Name'].iloc[anime_indices]

In [175]:
recommend_anime("Naruto")

1574                                    Naruto: Shippuuden
214                                         Rekka no Honoo
12492                      Boruto: Naruto Next Generations
734                                          Dragon Ball Z
4426                                       Dragon Ball Kai
8774                                Dragon Ball Kai (2014)
10623                                    Dragon Ball Super
200                                            Dragon Ball
12802                      Boruto: Jump Festa 2016 Special
6319     Naruto: Honoo no Chuunin Shiken! Naruto vs. Ko...
Name: Name, dtype: object

In [176]:
import pickle
with open('anime_model.pkl', 'wb') as f:
    pickle.dump((df, tfidf, cosine_sim), f)